[submodule "external/dh_comms"]
	path = external/dh_comms
	url = https://github.com/AMDResearch/dh_comms.git
[submodule "external/kerneldb"]
	path = external/kerneldb
	url = https://github.com/AMDResearch/kerneldb.git
